@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sourceLight';
  src: url('../public/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'sourceBold';
  src: url('../public/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'sourceReg';
  src: url('../public/SourceSansPro-Regular.ttf');
}

:root {
  --primary: transparent;
  --secondary: rgb(17 24 39);
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
